/* для ссылок на книги, статьи и другие источники */
.source {
	background-color: black;
	color: white;
	font-weight: bold;
}

/* для визуального выделения даты написания дневника */
.j-date {
	color: gray;
	font-size: 1.2em;
	padding: .33em;
}

/* для визуального выделения тематики дневника */
h4 {
	color: lightblue;
}

/* черная сплошная граница */
.border-black {
	border: 1px solid black;
}